<table>
    <tr>
        <td><h3>id</h3></td><td>{{libro.id}}</td>
    </tr>
    <tr>
        <td><h3>Portada</h3></td><td><img src="{{libro.image_url}}" width="150"></td>
    <tr>
        <td><h3>Titulo</h3></td><td>{{libro.title}}</td>
    </tr>
    <tr>
        <td><h3>Autor</h3></td><td>{{libro.author}}</td>
    </tr>
    <tr>
        <td><h3>ID Categoria</h3></td><td>{{libro.category_id}}</td>
    </tr>
    <tr>
        <td><h3>Categoria</h3></td><td>{{libro.category}}</td>
    </tr>
</table>
<ul>
    <li> <a href="/titulo"> Regresar </a> </li>
    <li> <a href="/autor"> Busqueda por autor </a> </li>
    <li> <a href="/letra"> Busqueda por letra </a> </li>
</ul>